.contact {
  margin-top: 40rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact-form {
  width: 80vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact-form-name,
.contact-form-email {
  height: 3rem;
}
.contact-form-name,
.contact-form-email,
.contact-form-message {
  width: 90%;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--clr-text-color);
  background-color: transparent;
}

.contact-form-name:focus,
.contact-form-email:focus,
.contact-form-message:focus {
  border: 2px solid;
  border-color: var(--clr-text-color);
  background-color: hsl(250, 29%, 16%);
}

.btn-container {
  width: 90%;
}

.connect {
  background-color: var(--clr-button-color);
  padding: 1.2rem;
  font-size: 1.2rem;
  margin: 1.2rem auto;
  border: none;
  border-radius: 0.5rem;
  color: var(--clr-white);
  cursor: pointer;
  font-weight: 500;
}

.connect:hover {
  background-color: var(--clr-button-alt-color);
}

.connect-icon {
  position: relative;
  top: 2.5px;
  margin-left: 0.75rem;
}

@media screen and (max-width: 480px) {
  .contact-form-name,
  .contact-form-email,
  .contact-form-message {
    width: 50%;
    font-size: 1rem;
  }
  .connect {
    padding: 0.75rem;
    font-size: 0.75rem;
  }
}
