footer {
  width: 100%;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-footer-background);
  box-shadow: var(--dark-shadow);
  color: var(--clr-white);
}

.footer-data {
  width: 80vw;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social a {
  font-size: 1.5rem;
  color: inherit;
}

.social a:hover {
  color: var(--clr-button-color);
}

.footer-icon {
  margin: 0.75rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: inherit;
}

.footer-icon:hover {
  color: var(--clr-button-color);
}

.titleName {
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-white);
}

.titleSubtitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.2rem auto 0rem auto;
  color: var(--clr-white);
}

@media screen and (max-width: 768px) {
  footer {
    height: 60vh;
    padding-top: 1rem;
  }
  .footer-data {
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  .footer-para {
    position: relative;
    top: -100px;
  }
}

@media screen and (max-width: 480px) {
  .social a {
    font-size: 1.5rem;
  }
  .footer-icon {
    font-size: 0.9rem;
  }
  .footer-para {
    font-size: 0.9rem;
  }
}
